{% extends "layouts.html" %}
{% block content %}
    <link rel="stylesheet" href="./static/lib/skeleton/normalize.css">
    <link rel="stylesheet" href="./static/lib/skeleton/skeleton.css">
    <link rel="stylesheet" href="./static/style.css">
    <div class="container">
        <a href="https://ibb.co/s37sv7r"><img src="https://i.ibb.co/4Nk4Zkx/me.jpg" alt="me" border="0" height="250" width="450"></a>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QPetxDOJwK0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>


        <meta charset="UTF-8">
        <title>My Website</title>


    <div class="container">
            <div style="clear:both;">
            <h1>Who am I?</h1>
        </div>
    <p>My name is Chikamso Victor Kanu</p>
            <div class="test">
        <h2>My Biography</h2>
        <p>I am a native of Arondizouogu in Ideato<br/> Local Government Area of Imo State in Nigeria.<br/>
        Chikamso was born on the 26th of February 2011.
        I am good at roblox,<br/> my roblox username is derfeasnack I have 56 robux,<br/> anyway I am also good at football I like Ronaldo<br/> I am 8 years old and I love games like sumdog and roblox</p>

    <p></p>
            <div class="test">
        <h3>My Address</h3>
            </div>
        <p>10 Harlaw March, Balerno, EH147BJ, Edinburgh, United Kingdom</p>
            </div>
        </div>

        <h2><a href="http://localhost:5000/"><< Back</a></h2>
{% endblock content %}

